@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

    var userRole = "";

    HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        userRole = authTicket.UserData;
    }
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#wHealth').addClass('active');
        $('#Others').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
       // $(".date").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altFormat: 'mm/dd/yy' });
        $("#StartDate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-50:+50", altFormat: 'dd/mm/yy', dateFormat: "dd/mm/yy" });
        $("#EndDate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-50:+50", altFormat: 'dd/mm/yy', dateFormat: "dd/mm/yy" });

        PagerClickBind();
    });

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        HealthBind(1);
    }

    function HealthBind(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#keyword').val().trim();

        $.ajax({
            url: '@Url.Action("HealthList", "Health")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items },
            success: function (result) {
                $('#divHealth').html(result);
                PagerClickBind();
            }
        });
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            HealthBind($(this).text());
        });
    }



    function ClearSearch() {

        $('#keyword').val('');
        HealthBind(1);
    }
</script>
<input type="hidden" id="hdnimgvalidate" value="0" />
<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="Id" />
<input id="hdnsortorder" type="hidden" value="DESC" />

<!-- breadcumb -->
<div class="content-header">
    <h1>Health Bulletin </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active"><i class="fa fa-tasks"></i>Health Bulletin</li>
    </ol>
</div>
<!--end breadcumb -->
<div class="content">
    <!-- Main content -->

    <div id="divmessage">
        @if (TempData["message"] != null)
        {@Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        {@Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="box">
        <div class="clearfix box-body">
            <div class="clearfix row">
                <div class="col-xs-12 col-lg-3 col-sm-6">
                    <label>Search</label>
                    <input type="text" placeholder="Page Name" name="keyword" id="keyword" class="form-control" />
                </div>



                <div class="col-xs-12 col-lg-9 col-sm-6">
                    <div>
                        <label>&nbsp;</label>
                    </div>
                    <button class="btn btn-primary" type="submit" onclick="HealthBind(1);">Search</button>
                    <button class="btn btn-info" type="submit" onclick="ClearSearch();">Clear</button>
                    <a data-toggle="modal" href="@Url.Action("AddHealth", "Health")" class="btn btn-danger pull-right">Add Bulletin</a>

                </div>
            </div>
        </div>
        <div id="divHealth" class="box-body table-responsive">
            @{Html.RenderAction("HealthList", "Health");}
        </div>

    </div>
</div>

