@charset "UTF-8";
 

.sponsors-li li{width: 23.875%;margin-right: 1.5%;margin-bottom: 1.5%;filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));}
.sponsors-li li:nth-child(4n+4){margin-right: 0;}
.sponsors-li li:nth-child(4n+5){clear: both;}



 



.block-row{clear:both;}
.block-row:before,.block-row:after{content:"";display:table;line-height:0;}
.left-block,.right-block,.middle-block,.left-block1,.right-block1,.left-block2,.middle-block2,.right-block2,.left-block3,.right-block3,.left-block4,.right-block4,.left-block5,.right-block5,.left-block6,.middle-block6,.right-block6,.left-block7,.right-block7,.left-block16,.right-block16,.left-block17,.right-block17,.left-block20,.right-block20{float:left;min-height:30px;} 

.left-block{width:38.46%;}
.middle-block{width:23.93%; min-height:159px;}
.right-block{width:37.61%;} 

.left-block1{width:17.09%;}
.right-block1{width:82.911%;}

.left-block2{width:87%;}
.right-block2{width:13%;}

.left-block3{width:58.52%;}
.right-block3{width:41.48%;}

.left-block4{width:74.35%;}
.right-block4{width:25.651%;}

.left-block5{width: 87.34%;}
.right-block5{width:12.66%;}

.left-block6{width: 30.08%;}
.middle-block6{width: 39.91%;}
.right-block6{width: 30.01%;}

.left-block7{width:74.35%;}
.right-block7{width:25.651%;}

.left-block16{width:50%;}
.right-block16{width:50%;}

.left-block17 { width: 50%;}
.right-block17 {width: 50%;}

.left-block20 { width: 40%;}
.right-block20 {width: 60%;}



.owl-carousel, .owl-carousel .owl-item {-webkit-tap-highlight-color:transparent;position:relative;}
.owl-carousel {display:none;width:100%; }
.owl-carousel .owl-stage {position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden;}
.owl-carousel .owl-stage:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel .owl-stage-outer {position:relative;overflow:hidden;-webkit-transform:translate3d(0, 0, 0);}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0)}
.owl-carousel .owl-item {min-height:1px; float:right; text-align:center;-webkit-backface-visibility:hidden;-webkit-touch-callout:none;}
.owl-carousel .owl-item img { max-width:100%; }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {display:none;}
.no-js .owl-carousel, .owl-carousel.owl-loaded {display:block;}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {	cursor:pointer;	cursor:hand;	-webkit-user-select:none;	-khtml-user-select:none;	-moz-user-select:none;	-ms-user-select:none;	user-select:none;}
.owl-carousel.owl-loading {opacity:0;	display:block;}
.owl-carousel.owl-hidden {	opacity:0;}
.owl-carousel.owl-refresh .owl-item {	visibility:hidden;}
.owl-carousel.owl-drag .owl-item {	-webkit-user-select:none;	-moz-user-select:none;	-ms-user-select:none;	user-select:none;}
.owl-carousel.owl-grab {	cursor:move;	cursor:grab;}
.owl-carousel.owl-rtl {	direction:rtl;}
.owl-carousel.owl-rtl .owl-item {	float:right;}
.owl-carousel .animated {	animation-duration:1s;	animation-fill-mode:both;}
.owl-carousel .owl-animated-in {	z-index:0;}
.owl-carousel .owl-animated-out {	z-index:1;}
.owl-carousel .fadeOut {	animation-name:fadeOut;}
@keyframes fadeOut {0% {opacity:1;}100% {opacity:0;}}
.owl-height {transition:height .5s ease-in-out;}
.owl-carousel .owl-item .owl-lazy {opacity:0;transition:opacity .4s ease;}
.owl-carousel .owl-item img.owl-lazy {	transform-style:preserve-3d;}
.owl-carousel .owl-video-wrapper {position:relative;	height:100%;background:#000;}
.owl-carousel .owl-video-play-icon {position:absolute;height:80px;	width:80px;	left:50%;	top:50%;	margin-left:-40px;	margin-top:-40px;	background:url(owl.video.play.png) no-repeat;	cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;
transition:transform .1s ease;}
.owl-carousel .owl-video-play-icon:hover {-ms-transform:scale(1.3, 1.3);	transform:scale(1.3, 1.3);}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {display:none;}
.owl-carousel .owl-video-tn {opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}
.owl-carousel .owl-video-frame {position:relative;z-index:1;height:100%;width:100%;}
.owl-carousel .owl-nav [class*="owl-"]{background-color:#ffffff; position:absolute; top:50%; margin:0; margin-top:-23px; left:0px; width:36px; height:46px; z-index:10; padding:15px 5px; display:block; text-align:center; color:#6d6d6d; line-height:20px; font-size:15px; }
.owl-carousel .owl-nav [class*="owl-"]:hover{background-color:#ececec;color:#6d6d6d; } 
.owl-carousel .owl-nav .owl-prev{left:inherit; right:0px;}
.owl-carousel .owl-nav .owl-next{right:inherit; left:0px; text-indent:-3px; } 
.events.owl-carousel .owl-nav [class*="owl-"]{ top:37%;}
.owl-carousel .owl-nav [class*="owl-"].disabled{opacity:0.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; color:#ed1d1c; background-color:#ececec;} 

.owl-dots{text-align:center;-webkit-tap-highlight-color:transparent; position:absolute; bottom:-10%; right:0%; z-index:4;}.owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#150704;display:inline-block;cursor:pointer;}.owl-nav.disabled+.owl-dots{margin-top:2px}.owl-dots .owl-dot{display:inline-block;zoom:1}.owl-dots .owl-dot span{width:13px;height:13px; border:#fff 2px solid;margin:2px 1px;background:#d4d4d4;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:20px}.owl-dots .owl-dot.active span,.owl-dots .owl-dot:hover span{background:#f4563e;}


.technologies.owl-carousel .owl-nav .owl-next{background: url(images/left-nav.png) left center no-repeat;   left: -50px; right: inherit;text-indent: -3px; font-family:none;} 
.technologies.owl-carousel .owl-nav .owl-prev{background: url(images/right-nav.png) right center no-repeat; left: inherit;right: -50px;}
.technologies .glyphicon{display:none;}



.banner.owl-carousel .owl-nav .owl-next{background: url(images/left-nav.png) left center no-repeat;   left: -50px; right: inherit;text-indent: -3px; font-family:none;} 
.banner.owl-carousel .owl-nav .owl-prev{background: url(images/right-nav.png) right center no-repeat; left: inherit;right: -50px;}
.banner .glyphicon{display:none;}

/* ==================================================== Customized Styles [End] =================================================================== */
.menubac-bg{background: url(images/menu-bg.png) repeat-x left top;}
.menhome-ico{background: url(images/men-home-ico.png) no-repeat center center;display: inline-block;width: 15px;height: 13px;}
.menlogin-bg{background-image: linear-gradient(0deg, #f72f00 0%, #ff5a00 100%);}
.lock-ico{background: url(images/men-lock-ico.png) no-repeat center center;display: inline-block;width: 12px;height: 14px;}

.foot-bg{background: url(images/footerbg-img3.png) repeat-y left top;background-size: 100% 100%;}
.phone-ico{background: url(images/foot-phone-ico.png) no-repeat left top;display: inline-block;vertical-align: middle;height: 30px;width: 29px;}
.upasa-inner-bg{background: url(images/content-top-bg.png) no-repeat center center;background-size: 100% 100%;}
.t-p32{padding-top: 32px;}
.bot-yel-sha{filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.3));}
.lef-righ-thora{background: url(images/foot-cen-lef.png) no-repeat left top, url(images/foot-cen-right.png) no-repeat right top;}
.thornm-bot-wid{max-width: 451px;margin-left: auto;margin-right: auto;}
.little-elm-shad{filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.4));}
.b-p22{padding-bottom: 22px;}
.headset-log{position: absolute;left: 50%;top: -22px;transform: translateX(-50%);}
.l-m63{margin-left: 63px;}
.form-control.emai{min-height: 36px; border: 2px solid #fff;background-color: rgba(0,0,0,0.10196078431372549);color: #fff;
  font-family: 'OpenSans';border-right: none;border-top-right-radius: 0;border-bottom-right-radius: 0;}
.form-control.emai::-moz-placeholder{color:#fff;font-family: 'OpenSans';}
.form-control.emai::-ms-placeholder{color:#fff;font-family: 'OpenSans';}
.form-control.emai::-webkit-input-placeholder{color:#fff;font-family: 'OpenSans';}
.letespa3{letter-spacing: 3px;}
.letespa1{letter-spacing: 1px;}
.b-m4n{margin-bottom: -4px;}
.bottomlis-li li a{color: #f8c701;}
.bottomlis-li li{font-size: 13px;line-height: 10px;margin-right: 43px;}
.bottomlis-li li:last-child{margin-right: 0;}
.botm-menu-maxwid{max-width: 1155px;margin-left: auto;margin-right: auto;}
.t-p32{padding-top: 32px;}
.b-p29{padding-bottom: 29px;}
.dkblue-b4{background-color: #ffa200;}
.t-b-p12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.border-radius2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.yellow-t {
  color: #fff000;
}
.dkbrown-bg2 {
  background-color: #840500;
}
.main-ban-bg{background: url(images/top-head-bg.png) no-repeat left top;background-size: 100% 100%;}
.logobac-bg{background: url(images/logo-bg.png) no-repeat left top;background-size: 100% 100%;}
.thoranm-bg{background: url(images/thoranam.png) no-repeat left top;height: 50px;position: absolute;z-index: 1;width: 100% !important;background-size: 100% 100%;}
.b-m14{margin-bottom: 14px;}
.side-flor-bg-lef{background: url(images/lef-sid-flower-img.png) no-repeat left top;position: absolute;width: 72px;height: 237px;}
.side-flor-bg-righ{background:  url(images/right-sid-flower-img.png) no-repeat right top;position: absolute;width: 72px;height: 237px;right: 0;}
.p12{padding: 12px;}
.side-status{background: url(images/lef-side-girl-img.png) no-repeat left top, url(images/right-side-pujari-img.png) no-repeat right top;max-width: 1470px;margin-left: auto;margin-right: auto;}
.newsbac-bg{background: url(images/news-name-bg.png) repeat-y left top;}
.newsarow-ico{background: url(images/news-arrow-ico.png) no-repeat left top;display: inline-block;width: 20px;height: 17px;vertical-align: middle;}
.t-p19{padding-top: 19px;}
.b-p16{padding-bottom: 16px;}
.latesnewbac-bg{background-color: #ec3522;min-height: 53.8px;max-height: 53.8px;}
.newslis-li li{line-height: 16px;font-family: 'OpenSans';color: #ffffff;font-size: 14px;padding-top: 20px;padding-left: 20px;}
.newsviewmor-bg{background-color: #ff4c39;}
.t-p11{padding-top: 11px;}
.t-m11{margin-top: 11px;}
.newsviewmo-ico{background: url(images/new-viewmor-ico.png) no-repeat left top;display: inline-block;width: 12px;height: 8px;vertical-align: middle;}
.button1-bg{background-image: linear-gradient(90deg, #ff484b 0%, #ffa253 100%);}
.button2-bg{background-image: linear-gradient(90deg, #00dda6 0%, #42f140 100%);}
.button3-bg{background-image: linear-gradient(90deg, #0cadf1 0%, #3df9d3 100%);}
.button4-bg{background-image: linear-gradient(90deg, #f53257 0%, #b273f3 100%);filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.12));}
.buttshad{filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.12));}
.buttonlis-li li{border: 1px solid rgba(255,255,255,0.9);width: 23.5%;margin-right: 2%;line-height: 12px;font-family: 'Poppins-Medium';font-size: 16px;text-transform: uppercase;}
.buttonlis-li li:last-child{margin-right: 0;}
.button1-ico{background: url(images/button1-ico.png) no-repeat left top;display: inline-block;width: 37px;height: 35px;vertical-align: middle;}
.button2-ico{background: url(images/button2-ico.png) no-repeat left top;display: inline-block;width: 37px;height: 35px;vertical-align: middle;}
.button3-ico{background: url(images/button3-ico.png) no-repeat left top;display: inline-block;width: 37px;height: 35px;vertical-align: middle;}
.button4-ico{background: url(images/button4-ico.png) no-repeat left top;display: inline-block;width: 37px;height: 35px;vertical-align: middle;}
.middmain-bg{background: url(images/bottom-main-bg.png) no-repeat left top;background-size: 100% 100%;}
.midsec-sideimg{background: url(images/side-thoranam-bg.png) repeat-y left top, url(images/side-thoranam-righ-bg.png) repeat-y right top;}
.topsec-sideimg-top{background: url(images/lef-side-top-img.png) repeat-y left top, url(images/right-side-top-img.png) repeat-y right top;}
.welbac-bg{background-color: #0e0f2d;}
.welbor{background: url(images/presede-modbor.png) repeat-x left top;}
.wellefrighmod{background: url(images/welcome-bg-righmod.png) no-repeat left center, url(images/welcome-bg-lefmod.png) no-repeat right center;}
.weltex-modbg{background: url(images/welcomlef-img.png) no-repeat left center, url(images/welcomright-img.png) no-repeat right center;max-width: 526px;margin-left: auto;margin-right: auto;}
.liter-tex{color: #f8f608;}
.presedmsg-bg{background-color: #ffee63;}
.presmsg-tex-t{color: #830000;}
.predis-t{color: #202020;}
.prename-t{color: #f20200;}
.tlcpred-t{color: #303a84;}
.presrel{position: absolute;bottom: 0;right: 0;}
.welpres-main-bg{background: url(images/welpres-main-bg.png) no-repeat left top;background-size: 100% 100%;}
.even-bac-bg{background-color: #f5f5f5;}
.eventex-modbg{background: url(images/evensec-lef-bg.png) no-repeat left center, url(images/evensec-right-bg.png) no-repeat right center;margin-left: auto;margin-right: auto;}
.l-r-p23{padding-left: 23px;padding-right: 23px;}
.evesec-tex{color: #313131;}
.evered-t{color: #fb4e3c;}
.evenlis-li li{width: 49%;margin-right: 2%;background-color: #ffffff;filter: drop-shadow(0px 2px 3.5px rgba(0,0,0,0.1));}
.evenlis-li li:last-child{margin-right: 0;}

.evenlis1-li li{width: 48%; margin-right: 1.3%; margin-bottom:1.5%;}
.evenlis1-li li:nth-child(2n+2){margin-right: 0;}
.evenlis1-li li:nth-child(2n+3){clear: both;}
.evenlis1-li li:last-child{margin-right: 0;}

.evetex-t{color: #161616;}
.evencal-tex{color: #ed3b3d;}
.b-p12{padding-bottom: 12px;}
.calen-ico{background: url(images/event-cal-ico.png) no-repeat left top;display: inline-block;width: 13px;height: 13px;vertical-align: middle;}
.intrtex-modbg{background: url(images/intro-lef-bg.png) no-repeat left center, url(images/intro-right-bg.png) no-repeat right center;}
.video-icon-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(images/main-video-ico.png) no-repeat center center;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out;
  -mz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.scoimgllis-li li{margin-bottom: 12px;}
.scoimgllis-li li:last-child{margin-bottom: 0;}
.nominabac-bg{background-color: #fff392;}
.nomin-lis li{margin-bottom: 9.5px;}
.nomin-lis li a{color: #000000;background-image: linear-gradient(90deg, #fa850b 0%, #fec213 100%);border-radius: 21px;line-height: 12px;text-transform: uppercase;font-family: 'Montserrat-Light';font-size: 14px;padding-top: 17px;padding-bottom: 13px;text-align: center;display: block;}
.sponsbor{background: url(images/spons-topbor.png) no-repeat center top, url(images/spons-topbor.png) no-repeat center bottom;}
.l-r-m19{margin-left: 19px;margin-right: 19px;}
.norsponbor{border-left: 1px solid #ffc21e;border-right: 1px solid #ffc21e;}
.spontexb-bg{background-color: #ffe451;}
.sponimg-li li{border: 1px solid #ffa200;margin-bottom: 5px !important;}
.sponimg-li li:last-child{margin-bottom: 0 !important;}
.b-p14{padding-bottom: 14px;}
.sponsors{min-height: 370px;}
.titsongsha{filter: drop-shadow(0px 4px 5px rgba(122,49,0,0.15));}
.gallshad{background: url(images/gallery-bg.png) no-repeat left top;background-size: 100% 100%;}
.galltopbor{background: url(images/gallery-bor.png) repeat-x left top;}
.galtex-modbg{background: url(images/gal-lef-bg.png) no-repeat left center, url(images/gal-right-bg.png) no-repeat right center;}
.gallpholis li{width: 23.5%;margin-right: 2%; margin-bottom:2%;}
.gallpholis li:nth-child(4n+4){margin-right: 0;}
.video-icon-hover1{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(images/videogal-ico.png) no-repeat center center;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out;
  -mz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.desk-hide{visibility: hidden;display: none !important;}
.iner-top-bg{background: url(images/innertophed-bg.png) no-repeat left top;background-size: 100% 100%;}
/* .inercon-bg{background: url(images/tab-main-bg.png) repeat left top;background-size: 100% 100%;}
 */.side-iner-status{background: url(images/lef-side-girl-img.png) no-repeat left 155px, url(images/right-side-pujari-img.png) no-repeat right 155px;max-width: 1470px;margin-left: auto;margin-right: auto;}
.inerside-bor{background: url(images/lef-side-top-img.png) repeat-y left top, url(images/right-side-top-img.png) repeat-y right top;}
.inerside-thor-bor{background: url(images/side-thoranam-bg.png) repeat-y left top, url(images/side-thoranam-righ-bg.png) repeat-y right top;}
.innercon-bg{background: url(images/cont-gray-bg.png) repeat-y center top;background-size: 100% 100%;}
.inertitsid-img{background: url(images/evensec-right-bg.png) no-repeat left top;display: inline-block;width: 297px;height: 28px;}
.inercon-bg{background-color: #8e0202;}
.becomeb-bg{background-color: #f5e984;}
.inerbutlis li{margin-bottom: 10px;border: 1px solid rgba(255,255,255,0.9);line-height: 12px;font-family: 'Poppins-Medium';font-size: 16px;text-transform: uppercase;}
.inerbutlis li:last-child{margin-bottom: 0;}
.inerwhgrymin{min-height: 997px;}
.inergrad-bg{background: url(images/inr-header-color.png) no-repeat left top;}
.inerfirst-bg{background: url(images/inner-first-bg.png) no-repeat left top;}
/* 29-7-20 */
.inerbutlis li a{color: #ffffff;}
/*.committee-list li{width: 50%;}*/

.committee-list li{width: 50%;/*margin-right: 2%;margin-bottom: 2%;*/filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.15));background-color: #fff; border-radius:6px;min-height: 140px; max-height:140px;}
.committee-list li:nth-child(2n+2){margin-right: 0;}
.committee-list li:nth-child(2n+3){clear: both;}

.b-p53{padding-bottom: 53px;}
.form-control.careerform::-moz-placeholder{font-family: 'Roboto-Regular';}
.form-control.careerform::-ms-placeholder{font-family: 'Roboto-Regular';}
.form-control.careerform::-webkit-input-placeholder{font-family: 'Roboto-Regular';}
.form-control.careerform{font-family: 'Roboto-Regular';}
.main-mid-bg{background-color: #f1f1f1;}
.side-flowers-bg{background: url(images/left-flowers-img.png) repeat-y left top, url(images/right-flowers-img.png) repeat-y right top;}
.logpos{position: absolute;top: 7px;}
.banshad{filter: drop-shadow(0 0 16px rgba(138,13,22,0.33));}
.tlcamidwhit-shad{filter: drop-shadow(0 0 7.5px rgba(0,0,1,0.1));}
.fb-blu-col{color: #425f9c;}
.tw-blu-col{color: #55acee;}
.youtub-blu-col{color: #e82c2c;}
.t-m62{margin-top: 62px;}
.b-p116{padding-bottom: 116px;}


.border11{border:#e4e2e2 1px solid;}
.profilepic-roundcircle {background: none repeat scroll 0 0 #cdcdcd;border: 5px solid #fff;border-radius: 50%;display: inline-block;max-height: 128px;overflow: hidden;
text-align: center;vertical-align: middle;max-width: 128px;}
.committee-item1{ border-left:#eaeaea 1px solid;}
.border-bot {border-bottom: #eaeaea 1px solid;}
.border-extop {border-top: #eaeaea 1px solid;}
.committee-item {border-right:#eaeaea 1px solid;}
.ltgrey-bg{background-color:#fafafa;}
.ltgrey-bg2{background-color:#fcfafa;}
.skyblue-t{color:#186de7;}
.red-t{color:#f92009;}
.pink-t{color:#e32a58;}
.ltgrey1-t{color:#5b5b5b;}
.letespace1{letter-spacing: 0.5px;}
.border-radius50{-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}

.members-list6 li{background: url(images/li-ico2.png) no-repeat left 23px; line-height:20px; padding-top:23px; margin-left: 0px; padding-left: 30px; vertical-align: middle;}
.members-list7 li{background: url(images/li-ico3.png) no-repeat left 22px; line-height:20px; padding-top:20px; margin-left: 0px; padding-left: 25px; vertical-align: middle;}

.tabs li { position: relative; display: block;}

.tabs li {margin-right: 0px;}

    .tabs li:last-child {margin-right: 0px;}

    .tabs li.rightborder2 {
        background: url(images/double-curves1.png) scroll no-repeat right center;
        display: inline-block;
        padding: 0px 11px 0px 0px;
        margin-bottom: 10px;
    }

        .tabs li.rightborder2:last-child {
            background: none !important;
            padding: 0px 0px 0px 0px;
        }

    .tabs li a {
        border: #e3e3e3 1px solid;
        color: #242424;
        padding: 9px 24px;
        display: block;
    }

    .tabs li:hover a, .tabs li.active a {
        background-color: #ff4c78;
        color: #fff;
        border: 1px solid transparent;
    }

.gallelis-li li{width: 48%;margin-right: 2%;margin-bottom: 2%;filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.15));background-color: #fff; border-radius:6px;}
.gallelis-li li:nth-child(2n+2){margin-right: 0;}
.gallelis-li li:nth-child(2n+3){clear: both;}

.gallelis-li2 li{width: 49%;margin-right: 2%;margin-bottom: 2%;filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.15));background-color: #fff; border-radius:6px;min-height: 68px;}
.gallelis-li2 li:nth-child(2n+2){margin-right: 0;}
.gallelis-li2 li:nth-child(2n+3){clear: both;}

.conact-data-bg { background: url(images/contact-data-bg.png) repeat left top; background-size: 100% 100%;}
.conact-data-bg2{ background: url(images/contact-data-bg2.png) no-repeat left top; background-size: 100% 100%;}
.career-submit-bg { background-image: linear-gradient(90deg, #ff5a00 0%, #ffb61b 100%);}
.white-conta-img{background: url(images/contact-phone-img.png) no-repeat left top;display: inline-block;height: 24px;width: 24px;vertical-align: middle;}
.tm28n { margin-top: -10%;}

.news-list li {
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 15px;
    margin-bottom: 10px;
}

.form-control.careerform { background-color:transparent !important; border:1px solid transparent; border-bottom: 2px solid #e9ebf3 !important; line-height: 10px; color:#202020; font-family: 'muli'; font-size: 14px; padding: 37px 0px 12px 0px; min-height: 0; margin-bottom: 0; padding-bottom: 5px;
}
.form-control.careerform:focus { background-color:transparent !important; border:1px solid transparent; border-bottom: 2px solid #ff9d18 !important; line-height: 10px; color:#202020; font-family: 'muli'; font-size: 14px; padding: 35px 0 12px 0; min-height: 0; margin-bottom: 0; padding-bottom: 5px;
}
 .form-control.careerform::-moz-placeholder {
color:#202020;
font-size: 14px;
line-height: 10px;
}

@media (max-width:1100px){ 
.menu li a{ padding-left:8px; padding-right:8px;}
.menu li a.home{ padding-left:20px; padding-right:20px;}
.logo{ padding-left:10px;}
}
@media (max-width:1030px){ 


}
@media (max-width:1024px){ 
.p0-1024{padding:0px;} 
.plr0-1024{padding-left:0px;padding-right:0px;}
.pl0-1024{padding-left:0px;}.pr0-1024{padding-right:0px;} 
.ptb0-1024{padding-top:0px;padding-bottom:0px;}
.p10-1024{padding:10px;}.p5-1024{ padding:5px;}  
.pl10-1024{padding-left:10px;}.pl5-1024{padding-left:5px;}
.pr10-1024{padding-right:10px;}.pr5-1024{padding-right:5px;}
.plr10-1024{padding-left:10px;padding-right:10px;}.plr5-1024{padding-left:5px;padding-right:5px;}
.pt10-1024{padding-top:10px;}.pt5-1024{padding-top:5px;}
.pb10-1024{padding-bottom:10px;}.pb5-1024{padding-bottom:5px;}
.ptb10-1024{padding-top:10px;padding-bottom:10px;}.ptb5-1024{padding-top:5px;padding-bottom:5px;}


}
@media only screen and (max-width:980px){ 
.menu li a.home,.menu li:hover a.home, .menu li.active a.home{ background-image:none; text-indent:0;}
.menu li{ float:none; border-bottom:#6a0d0d 1px solid; }
.menu li:hover a,.menu li.active a{ color:#ffffff;background-color:#2e8c30; border-radius:0;}
.menu li:hover,.menu li.active{background-image:none;}
.menu li a,.menu li a.home{ padding:15px 10px 13px 10px;}
.menu li:first-child a {
  padding:15px 10px 13px 10px;
}
.side-status{background: none;}
.main-ban-bg{background: url(images/tab-top-bg.png) repeat left top;background-size: 100% 100%;}
.thoranm-bg{
  background: url(images/thoranam.png) no-repeat left top;
  background-size: 100% 100%;
  height: 46px;
  position: relative;
}
.menu{margin-top: 3px;}
.left-block1{width: 100%;}
.right-block1{width: 100%;min-height: 105px;max-height: 105px;}
.newsbac-bg{background-image: linear-gradient(90deg, #fa820b 0%, #fdb410 100%);}
.newslis-li li{line-height: 18px;padding-top: 8px;padding-left: 0;text-align: center;}
.left-block2{width: 100%;min-height: 54px;}
.right-block2{width: 15%;margin-left: 42.5%;margin-right: 42.5%;margin-top: 5px;}
.buttonlis-li li{width: 49.25%;margin-right: 1.5%;margin-bottom: 1.5%;}
.buttonlis-li li:nth-child(2n+2){margin-right: 0;}
.buttonlis-li li:nth-child(2n+3){clear: both;}
.left-block3{width: 100%;}
.right-block3{width: 100%;}
.left-block4{width: 100%;}
.right-block4{width: 38.5%;margin-left: 30.75%;margin-right: 30.75%;}
.eventex-modbg{background: none;}
.galtex-modbg{background: none;}
.galtex-modbg{background: none;}
.left-block6{width: 40%;}
.middle-block6{width: 60%;}
.right-block6{width: 40%;}
.bottomlis-li li{width: 15.41%;margin-right: 1.5%;text-align: center;margin-bottom: 10px;}
.bottomlis-li li:nth-child(6n+6){margin-right: 0;}
.bottomlis-li li:nth-child(6n+7){clear: both;}
.latesnewbac-bg{min-height: none;max-height: none !important;}
.intrtex-modbg{background: none;}
.left-block7{width:100%;}
.right-block7{width: 38.5%;margin-left: 30.75%;margin-right: 30.75%;}
.inerwhgrymin {
  min-height: 0;
}
.iner-top-bg{background: none;}
.side-iner-status{background: none;}
.tabhorizontal-t-m41{margin-top: 0px;}

.submenu li:last-child{
  border-bottom: #6a0d0d 1px solid;
}

.left-block16 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.right-block16 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.left-block20{width: 100%;}
.right-block20{width: 100%;}
.tab-position-r{position: relative;}
}
@media only screen and (max-width:800px){ 
  .right-block2{
    width: 18%;
    margin-left: 41%;
    margin-right: 41%;
}
.right-block3 {
  margin-top: 10px;
}
.evenlis-li li{width: 100%;margin-right: 0;}
.evenlis-li li:first-child{margin-bottom: 10px;}
.left-block5{width: 80%;}
.right-block5{width: 20%;}

.socpadlef{padding-left: 0 !important;}
.right-block4 {
  width: 44%;
  margin-left: 28%;
  margin-right: 28%;
}
.gallpholis li{width: 49%;margin-right: 2%;margin-bottom: 10px;}
.gallpholis li:nth-child(2n+2){margin-right: 0;}
.gallpholis li:nth-child(2n+3){clear: both;}
.bottomlis-li li{width: 23.875%;margin-right: 1.5%;text-align: center;margin-bottom: 10px;}
.bottomlis-li li:nth-child(6n+6){margin-right: 1.5%;}
.bottomlis-li li:nth-child(6n+7){clear: none;}
.bottomlis-li li:nth-child(4n+4){margin-right: 0;}
.bottomlis-li li:nth-child(4n+5){clear: both;}
.right-block6 {
  width: 45%;
}
.right-block7 {
  width: 44%;
  margin-left: 28%;
  margin-right: 28%;
}

.committee-list li{width: 100%;}

} 
@media only screen and (max-width:768px){ 
  .left-block6{width: 35%;}
  .middle-block6{width: 65%;}
  .right-block6{width: 50%;}
  .left-block16 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.right-block16 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
}
@media only screen and (max-width:700px){
  .right-block4 {
    width: 46.5%;
    margin-left: 26.25%;
    margin-right: 26.25%;
}
.sponsors{min-height: 390px;}
.right-block7 {
  width: 46.5%;
  margin-left: 26.25%;
  margin-right: 26.25%;
}
} 

@media only screen and (max-width:640px){
    .sponsors-li li {
    width:100%;}
  .thoranm-bg{height: 35px;}
  .right-block2{width: 26%;margin-left: 37%;margin-right: 37%;}
  .weltex-modbg{background: none;}
  .right-block4 {
    width: 67%;
    margin-left: 16.5%;
    margin-right: 16.5%;
}
.intrtex-modbg {
  background:none;
}
.left-block6{width: 100%;margin-bottom: 6%;text-align: center;}
.middle-block6{width: 100%;}
.right-block6{width: 100%;}
.bottomlis-li li {
  width: 100%;
  margin-right: 1.5%;
  text-align: center;
}
.right-block7 {
  width: 67%;
  margin-left: 16.5%;
  margin-right: 16.5%;
}
.tabhorizontal-t-m41{margin-top: 0px;}
.left-block16 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.right-block16 {
width: 100%;
margin-left: 0;
margin-right: 0;
}
.gallelis-li2 li{width: 100%;margin-right: 0;min-height: 0;}

.scoimgllis-li li{width: 33.33%;float: left;margin-bottom: 0;}
.scoimgllis-li li:last-child{margin-right: 0;}
.left-block5{width: 100%;}
.right-block5{width: 100%;}
.nivo-nextNav{left: 0;}
.nivo-directionNav a{right: 0;}
} 

@media only screen and (max-width:600px) {

}
@media only screen and (max-width:480px){ 
  .right-block2 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
}

@media only screen and (max-width:420px){
  .buttonlis-li li{width: 100%;margin-right: 0;}
  .right-block4 {
    width: 77%;
    margin-left: 11.5%;
    margin-right: 11.5%;
}
.gallpholis li{width: 100%;margin-right: 0;}
.right-block7{
  width: 77%;
  margin-left: 11.5%;
  margin-right: 11.5%;
}
.members-list6 li{padding-top: 10px;background: url(images/li-ico2.png) no-repeat left 12px;}
.left-block17{width: 100%;margin-top: 10px;}
.right-block17{width: 100%;}
}

@media only screen and (max-width:400px){

}
@media only screen and (max-width:380px){
  .right-block2 {
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
}
.mobile-t-m46 {
  margin-top: 53px !important;
}
.right-block4 {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.right-block7{
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.tabhorizontal-t-m41{margin-top: 0px;}

}

@media only screen and (max-width:360px){

  .right-block4 {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .right-block7 {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }

}
@media only screen and (max-width:320px){

}
@media only screen and (max-width:280px){}
@media only screen and (min-width:319px) and (max-width:900px){} 



