@charset "UTF-8";
.vidgallery-li li {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));
}
.vidgallery-li li:nth-child(3n+3){margin-right: 0;}
.vidgallery-li li:nth-child(3n+4){clear: both;}

.gallery-li li {
    width: 23.875%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.1));
}

    .gallery-li li:nth-child(4n+4) {
        margin-right: 0;
    }

    .gallery-li li:nth-child(4n+5) {
        clear: both;
    }

    /* ==================================================== Customized Styles [End] =================================================================== */
/* Ratna css start */
.main-bg{background: url(images/mani-back-bg.png) repeat-y center top;background-size: contain;}
.mainbg-side-dec{background: url(images/page-left-mod.png) repeat-y left top, url(images/page-rightt-mod.png) repeat-y right top;}
.thornam-bg{background: url(images/top-thoranam.png) repeat-x left top;height: 21px;position: relative;}
.logo-bg{background: url(images/logo-back-bg.png) no-repeat left top;}
.logbotm-bg{background: url(images/menu-botm-bor.png) repeat-x left bottom;}
.home-ico{background: url(images/menu-home-ico.png) no-repeat left top;display: inline-block;height: 15px;width: 17px;}
.menu-bg{background-color: #f20200;}
.latesnews-bg{background-color: #38417f;}
.latenew-tex{color: #feffff;}
.lates-gray-bg{background-color: #f0f0f0;}
.latesnewsli li{color: #5f0006;font-size: 14px;line-height: 18px;padding-left: 35px;font-family: 'Roboto-Regular';padding-top: 12px;padding-bottom: 0px;}
.donat-gren-bg{background-color: #5c8f29;}
.rupeedonat-ico{background: url(images/donat-ico.png) no-repeat left top;display: inline-block;vertical-align: middle;width: 36px;height: 36px;}
.newsarpos{position: absolute;top: 5px;left: 175px;}
.sponsbac-bg{background-color: #fff08d;}
.b-p11{padding-bottom: 11px;}
.sponslis-li li{padding-bottom: 10px !important;}

.sponslis-li{padding-left: 15px !important;padding-right: 15px !important;}

.memberslis li{padding-bottom: 9px !important;}
.memberslis{padding-left: 15px !important;padding-right: 15px !important;}
.b-p12{padding-bottom: 12px;}
.donbac-bg{background-color: #bfef8e;}
.donrtex-t{color: #303030;}
.t-p17{padding-top: 17px;}
.donaramout-t{color: #5c8f29;}
.presed-bac-bg{background-color: #f7f7f7;}
.prese-outbor{border: 1px solid #38417f;}
.orang-t{color: #f76800;}
.dkblue-t{color: #0a156a;}
.presedtex-t{color: #3b3b3b;}
.presedname-t{color: #f20200;}
.presedesi-t{color: #303a84;}
.socialtwlis-li li{margin-bottom: 5px;}
.socialtwlis-li li:last-child{margin-bottom: 0;}
.premod-botbor{background: #f7f7f7 url(images/pres-sec-bor.png) repeat-x left bottom;}
.b-p24{padding-bottom: 24px;}
.upcome-bg{background: url(images/upcoming-bg.png) no-repeat left top;max-width: 349px;margin-left: auto;margin-right: auto;}
.evenslis-li{background-color: #fff;filter: drop-shadow(0px 2px 3.5px rgba(0,0,0,0.1));border-radius: 5px;}
.eventmain-t{color: #3f3e3e;}
.calnder-ico{background: url(images/calnder.png) no-repeat left top;display: inline-block;width: 13px;height: 13px;}
.calder-col-t{color: #ed3b3d;}
.t-p12{padding-top: 12px;}
.leterspa{letter-spacing: 1px;}
.eve-view-det{color: #2a2a2a;}
.galler-side-img{background: url(images/gallery-lefside-img.png) no-repeat left center, url(images/gallery-rightside-img.png) no-repeat right center;max-width: 600px;margin-left: auto;margin-right: auto;}
.photogal-shad{filter: drop-shadow(0px 3px 2.5px rgba(0,0,0,0.3));}
.gallerlis-li li{width: 23.5%;margin-right: 2%;}
.gallerlis-li li:last-child{margin-right: 0;}
.video-icon-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(images/video-icon.png) no-repeat center center;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out;
  -mz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.footbac-bg{background: url(images/footer-bg.png) no-repeat left top;background-size: cover;}
.copyrig-t{color: #fff000;}
.desktop-hide{display:none!important;visibility:hidden!important;}

.subscri-ico{background: url(images/subscrib-ico.png) no-repeat left top;display: inline-block;vertical-align: super;width: 14px;height: 17px;}
.menu li:last-child .subscr{padding-top: 8px;padding-bottom: 8px;line-height: 10px;font-size: 13px;padding-left: 21px;padding-right: 21px;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;background-color: #ff4543;filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.2));}
.menu li:nth-child(9n+8){background: none;}
.menu li:last-child .subscr:hover .subscri-ico{background: url(images/subscrib-ico-hov.png) no-repeat left top;display: inline-block;vertical-align: super;width: 14px;height: 17px;}
.footdetmaxwid{max-width: 873px;margin-left: auto;margin-right: auto;}
.footdetlis-li li{width: 32%;margin-right: 2%;background-color:#ffe033;filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.2));min-height: 80px;  opacity: .6;}
.footdetlis-li li:nth-child(3n+3){margin-right: 0;}
.foot-loc-ico{background: url(images/foot-location-ico.png) no-repeat left top;display: inline-block;width: 30px;height: 39px;}
.foottas-tex{color: #e72934;}
.tasadd-tex{color: #1f1f1f;}
.r-m12{margin-right: 12px;}
.foot-call-ico{background: url(images/foot-call-ico.png) no-repeat left top;display: inline-block;width: 38px;height: 36px;}
.needhel-tex{color: #626262;}
.l-p22{padding-left: 22px;}
.foot-mail-ico{background: url(images/foot-mail-ico.png) no-repeat left top;display: inline-block;width: 44px;height: 32px;}
.b-m11{margin-bottom: 11px;}
.inconminhei{min-height: 880px;}
.shadowb {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(65,0,113,0.23);
  -moz-box-shadow: 0px 0px 5px 0px rgba(65,0,113,0.23);
  box-shadow: 0px 0px 5px 0px rgba(65,0,113,0.23);
}
.pink-t{color: #ea3d6b;}
.red-t{color: #f20200;}

.btnsbg2 {
  background: rgba(254,127,154,1);
  background: -moz-linear-gradient(top, rgba(254,127,154,1) 0%, rgba(251,118,149,1) 32%, rgba(245,97,132,1) 45%, rgba(237,72,113,1) 64%, rgba(233,59,106,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,127,154,1)), color-stop(32%, rgba(251,118,149,1)), color-stop(45%, rgba(245,97,132,1)), color-stop(64%, rgba(237,72,113,1)), color-stop(100%, rgba(233,59,106,1)));
  background: -webkit-linear-gradient(top, rgba(254,127,154,1) 0%, rgba(251,118,149,1) 32%, rgba(245,97,132,1) 45%, rgba(237,72,113,1) 64%, rgba(233,59,106,1) 100%);
  background: -o-linear-gradient(top, rgba(254,127,154,1) 0%, rgba(251,118,149,1) 32%, rgba(245,97,132,1) 45%, rgba(237,72,113,1) 64%, rgba(233,59,106,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,127,154,1) 0%, rgba(251,118,149,1) 32%, rgba(245,97,132,1) 45%, rgba(237,72,113,1) 64%, rgba(233,59,106,1) 100%);
  background: linear-gradient(to bottom, rgba(254,127,154,1) 0%, rgba(251,118,149,1) 32%, rgba(245,97,132,1) 45%, rgba(237,72,113,1) 64%, rgba(233,59,106,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7f9a', endColorstr='#e93b6a', GradientType=0 );
}