@{
    Layout = "~/Areas/User/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Achnowlegment - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];


}
<article class="clearfix t-m0 l-h28 t-t-u Impact font26 evesec-tex letespa1 b-m25 tabhorizontal-b-m10 mobile-b-m5">Achnowlegment<span class="evered-t"></span><i class="inertitsid-img l-m10 mobile-hide">&nbsp;</i></article>

<article class="clearfix t-c tbp20 mobile-t-p20 tabhorizontal-t-p20">
                        <article class="clearfix t-c"> <img src="Content/User/images/thankyou2.png" alt="" class="" width="200" height="200"> </article>
                        <article class="clearfix b-p20 t-p20 font16 l-h22 mobile-font15 Poppins-Medium">
                            We appreciate you contacting us. <br>
                            One of our member will get back to you shortly.
                        </article>
                        <article class="clearfix t-p10 mobile-t-p10 message "> <a style="background-color:#19aa6e; border-radius:4px; padding:16px 24px; color:#fff; border-bottom:4px solid #92fbcf;" href="index.html" class="Roboto-Medium  font10 t-t-u tabhorizontal-dis-in"><span class="v-align-m font22 Montserrat-Medium">BACK TO HOME</span></a> </article>
                    </article>